@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|Roboto+Condensed');
@import './variables';
@import '../components/Scroll/Scroll.scss';


body {
  margin: 0;
  padding: 0;
  background-image: url('https://wallpaperfm.com/img/original/8/2/c/16905.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto", "Orbitron";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1100px){
  body {
    background-position-x: 50%;
  }
}


