.Scroll-article {
  overflow: hidden;
}

.Scroll-galaxy-text {
  font-weight: 800;
  margin: 20% auto;
  color: white;
  opacity: 0;
  z-index: 1;
  animation: fadeTitle 4s ease-out;
  position: fixed;
  left: 36%;
  margin: 9px 7px;
  bottom: 9%;
  font-size: 28px;
}

.filmtext-wrapper-before {
  position: fixed;
  left: 5%;
  bottom: 0%;
  overflow: hidden;
  transform: perspective(250px) rotateX(41deg);
  height: 95%;
  width: 90%;
  &:after {
   position: absolute;
   content: '';
   top: 100%;
    bottom:0;
    left:0;
    right:0;
  }
}

.filmtext-wrapper-after {
  position: absolute;
  top: 100%;
  right: 35%;
  animation: scrollCrawl 50s linear;
  animation-iteration-count: 1;
  color: #ffd900;
  letter-spacing: 8px;
  width: 24rem;
  font-size: 218%;
  text-align: justify;
  text-transform: uppercase;
  font-family: Pathway Gothic One sans-serif;
  background: linear-gradient(0deg, transparent, #0000001a 75%);
  line-height: 105%;
}
