.CardContainer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 90px auto;
  height: 100%;
  background: #edfffd21;
  width: 99vw;
  border-radius: 8px;
  padding-top: 43px;
}

@media only screen and (max-width: 800px) {

  .CardContainer-wrapper {
  background: #edfffd21;
  height: 100%;
  }
}
