.Card-wrapper {
  width: 334px;
  height: 266px;
  border: 1px solid black;
  margin: 14px 25px;
  border-radius: 9px;
  box-shadow: 7px 7px #5f4848;
  background-color: rgba(0, 20, 255, 1);
}



h1 {
  color: white;
  z-index: -5;
}