.Card-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assests/StarWarsLogo.jpg);
  background-size: 100% 100%;
  width: 334px;
  min-height: 315px;
  border: 1px solid black;
  margin: 14px 25px;
  border-radius: 9px;
  box-shadow: inset 0px 0px 2px 1px #9eff02;
  border: none;
}

img {
  height: 29px;
  width: 50px;
  color: white;
}



.Card-info {
  color: white;
  text-align: left;
  margin: 3px 19px;
  line-height: 43px;
  font-size: 19px;
}

.name {
  background-color: white;
  color: black;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Card-text  {
  font-weight: 800;
}