.Controls-btn {
  margin-left: 95px;
  width: 163px;
  height: 58px;
  border-radius: 8px;
  box-shadow: inset 4px 3px 15px #b8b8bd;
  font-size: 21px;
  font-family: Orbitron;
  padding-top: 3px;
  font-weight: 700;
}

.people:hover {
  background-color: yellow;
}

.planets:hover {
  background-color: yellow;
}

.vehicles:hover {
  background-color: yellow;
}