@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900|Roboto+Condensed');
@import '_variables.scss';
@import './components/Scroll/Scroll.scss';


body {
  margin: 0;
  padding: 0;
  background-image: url('https://wallpaperfm.com/img/original/8/2/c/16905.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto", "Orbitron";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 375px){
  body {
    background-position-x: -31rem;
  }
  .Scroll-galaxy-text {
    font-weight: 800;
    margin: 20% auto;
    background: yellow;
    opacity: 0;
    z-index: 1;
    animation: fadeTitle 2s ease-out;
    /* position: fixed; */
    /* left: 34%; */
    /* margin: 9px 7px; */
    bottom: 9%;
    font-size: 28px
  }
}


